<head>
    <style>
        main {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        main * {
            margin: 0.5em;
        }

        #search {
            width: 50%;
            border-radius: 100px;
            border: 1px solid grey;
            padding: 0.5em;
            font-size: 1em;
        }
    </style>  
</head>
<body>
    <main>
        <img src="https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png">
        <input id="search" type="text" autocomplete="off">
    </main>
    
    
    <script>
        const urls = ['https://google.com/#q=', 'https://www.bing.com/search?q=', 'https://search.yahoo.com/search?p=', 'https://duckduckgo.com/?q=', 'https://ecosia.org/search?q=']
        const string = '{{ string }}';
        const stringArray = string.split('').reverse();
        const search = document.getElementById('search');

        const randomInt = (max) => Math.floor(Math.random()*(max+1))

        search.addEventListener('keydown', e => {
            if (e.keyCode === 37 || e.keyCode === 39) {
                return;
            } else {
                e.preventDefault()
            }
            if(e.keyCode === 8) {
                if (search.value.length > 0) {
                    stringArray.push(search.value[search.value.length - 1]);
                    search.value = search.value.slice(0,-1)
                }
            } else if (e.keyCode === 13) {
                if (stringArray.length > 0) {
                    search.value = string;
                    stringArray.splice(0, stringArray.length)
                }
                const rickroll = Math.random()
                if (rickroll < 0.01) {
                    window.location = 'https://www.youtube.com/watch?v=lXMskKTw3Bc'
                } else if (rickroll < 0.25) {
                    window.location = 'https://www.youtube.com/watch?v=dQw4w9WgXcQ'
                } else {
                    window.location = urls[randomInt(urls.length-1)] + string
                }
            } else if (e.keyCode !== 8 && stringArray.length > 0) {
                search.value = search.value + stringArray.pop();
                search.scrollLeft = search.scrollWidth
            } 
        })
    </script> 
  </body>


